body {
    padding-top: 70px;
}

.hidden {
    display: none;
}
ol, ul { list-style: none; }

.PUP{
	float: left;
	margin-left: 50px;
	margin-top: 5px;
}

.pup {
	float: left;
	margin-left: 570px;
	margin-top: 5px;
	
}

.ce {
	float: left;
	margin-top: 5px;
}

.coe{
	float:left;
	margin-right: 500px;
	margin-top: 5px;
}